@media only screen and (max-width: 480px) {
    .wedding .top .name-boy, .name-girl {
        font-size: 3.5rem;
    }
    .wedding .top .date {
        font-size: 2.2rem;
        margin-left: -10px;
    }
    .wedding .top .date .day, .months {
        font-size: 5.2rem;
    }
    .information .information-boy .img-boy {
        width: 140px;
        height: 140px;
    }
    .information .information-boy .bottom .groom {
        font-size: 1.7rem;
    }
}
@media only screen and (max-width: 414px) {
    .information .heart .heart-gif {
        width: 50px;
    }
    .wedding .top .name-boy, .name-girl {
        font-size: 3rem;
    }
    .date-or-location .location {
        font-size: 1.8rem;
    }
    .represent .represent-mid .mid-left .grandfather, .grandma, .mid-right .grandfather, .grandma {
        font-size: 1.5rem;
    }
}