@media only screen and (max-width: 480px) {
    .wedding .top .name-boy, .name-girl {
        font-size: 3.5rem;
    }
    .wedding .top .date {
        font-size: 2.2rem;
        margin-left: -10px;
    }
    .wedding .top .date .day, .months {
        font-size: 5.2rem;
    }
}
@media only screen and (max-width: 414px) {
    .information .heart .heart-gif {
        width: 50px;
    }
    .wedding .top .name-boy, .name-girl {
        font-size: 3rem;
    }
    .date-or-location .location {
        font-size: 1.8rem;
    }
}